.medium-toolbar-arrow-under:after
	bottom -8px !important
	top initial !important

.medium-editor-textcolor-color-picker
	background-color inherit !important
	float none
	padding 5px 5px 2px 5px

	.picker-wrapper
	.slide-wrapper
		float none
		display inline-block

.medium-editor-textcolor-box
	max-width 105px
	padding 5px !important
	line-height normal

	.medium-editor-textcolor-square
		width 15px
		height @width
		display inline-block
		margin 0 2px
		float none
		cursor pointer
		border-radius 1px
		border 1px solid alpha(white, .3)
	
	.medium-editor-textcolor-pick-color
		font-size 12px
		display block
		border 1px solid alpha(white, .3)
		border-radius 3px
		padding 2px 0px
		width 100%
		text-align center
		margin 5px 0
		cursor pointer